/* Loading Screen Styles */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 100px;
  height: 100px;
  background-image: url('../asset/cursor.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: spin 2s ease-in-out forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}